 /*盒子模型为边框*/
*{box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,fieldset,button,input,textarea { margin: 0; padding: 0; -webkit-touch-callout: none;}
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  -webkit-tap-highlight-color: transparent;}
body { }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%;}
em,i { font-style: normal;}
a {text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
ul,ol,li { list-style: none;}
img { border: 0;}
table { border-spacing: 0; border-collapse: collapse;}
input,textarea { -webkit-user-select: text;}
select,textarea { font-size: 100%; -webkit-appearance: none;appearance: none;}
/*IOS <input>去除默认样式*/
input[type=text]{ -webkit-appearance: none;appearance: none;border-radius: 0px;}
html,body{font-size: 62.5%;}
body{font-size:1.6rem;background: #ededed;font-family: Microsoft YaHei;}

.app-wrapper{position: relative;}

.nav{height: 90px;float: right;}
.page_content{clear: both;}
.nav ul{background: #fff !important;color:#333 !important;}
.el-menu--horizontal > .el-menu-item{height: 90px !important;background: #fff;line-height: 90px !important}
.el-submenu,.el-submenu .el-submenu__title{height: 90px !important;line-height: 90px !important;}
.el-submenu.is-active .el-submenu__title{
	border-bottom: none !important;
}
.el-menu-item.is-active{color: #3a89da !important;}

.el-menu--horizontal .el-submenu>.el-menu,.el-menu--horizontal .el-submenu .el-menu-item,.el-menu--horizontal .el-menu-item:hover, .el-menu--horizontal .el-submenu__title:hover{background: #f8f8f8 !important;box-shadow: none !important}

.nav .el-menu--horizontal .el-submenu>.el-menu{border:none !important;top:90px;position: absolute;z-index: 10;}
.nav .el-menu--horizontal>.el-submenu:hover .el-submenu__title,.nav .el-menu--horizontal>.el-menu-item:hover{border-bottom: none !important;border-top:5px solid #3a89da;line-height: 80px !important ;color:#3a89da !important;}
.el-menu--horizontal .el-menu-item,.el-menu--horizontal .el-submenu .el-submenu__title{border-bottom: none !important;}
.el-submenu:hover{color:#3a89da !important;}

.el-menu.el-menu-demo.el-menu--horizontal>li.el-submenu.is-active>div.el-submenu__title,.el-submenu.is-active .el-submenu__title i{color:#3a89da !important;}
.nav .el-menu-item.is-active{color: #333;}

.el-menu-item, .el-submenu__title{font-size: 16px !important;}

/*.el-submenu ul li:hover{background: #eee !important;}*/
.el-menu--horizontal .el-submenu:hover{background: #f8f8f8 !important}
.nav .el-menu--horizontal .el-submenu>.el-menu{padding-bottom: 0 !important;padding-top: 0 !important;}
.nav .el-menu--horizontal .el-submenu>.el-menu li:hover{background: #eee !important;}
.el-menu--horizontal .el-submenu .el-menu-item{width:180px !important;}

header{width:100%;background: #fff;height: 90px;}
.header_wrap{max-width: 1200px;background: #fff;margin:0 auto;}
@font-face {
  font-family: 'iconfont';  /* project id 315933 */
  src: url('//at.alicdn.com/t/font_5t2agzp18dcuwhfr.eot');
  src: url('//at.alicdn.com/t/font_5t2agzp18dcuwhfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_5t2agzp18dcuwhfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_5t2agzp18dcuwhfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_5t2agzp18dcuwhfr.svg#iconfont') format('svg');
}

.iconfont{font-family: 'iconfont';color:#333;position: absolute;right: 10px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);}
.el-submenu .el-menu-item{position: relative;}

.logo{width: 160px;background: url(../images/logo.png) left center no-repeat;height: 100% ;height: 90px;margin-left: 10px;}


.copyright-share{background: #3a3a3a;color:#999;}
.container{margin-right: auto;margin-left: auto;max-width: 100%;}
.copyright{font-size: .9em;padding: 0;text-align: center;padding: 15px 0;background: #3a3a3a;color: #999;}
.copyright-share .copyright span {
    color: #999;
    line-height: 1.8em;
    margin: 0 0 0 1em;
}
.copyright-share .share {
    float: left;
}
.tips p{color: #999;font-size: 13px;line-height: 1.8;}
.tips h3{color:#999;margin-bottom: 10px;}
.ewm{text-align: center;color:#999;}
.trade-day{line-height: 2;color: #999;}
.tel{padding-top: 20px;}
.tel img{vertical-align: middle;}
.tel p{font-size: 36px;color:#ccc;font-family: cursive;}
.kf{padding-left: 60px;border-left: 1px solid #3a3a3a;height: 120px;}
.kf-title{color:#ccc;}
.foot-top{background: #505050;padding: 40px;box-sizing: border-box;}

.el-submenu .el-menu-item{padding-left: 18px !important;font-size: 14px !important;height: 50px !important;line-height: 50px !important;}

.banner{width: 100%;background-repeat: no-repeat;background-position: center top;background-size: cover;}
/*.home_banner{background: url('../images/home_banner.jpg') no-repeat;background-size: 100% auto;}*/
.banner .container {
    z-index: 30;
    opacity: 1;
}
.home_banner img{width:100%;}
img{display: inline-block;}